! special
*.alpha: 0.65
*.alphaOffset: 0
*.font: firamono:size=14:antialias=true
*.foreground:   #d3d0c8
*.background:   #2d2d2d
*.cursorColor:  #d3d0c8

! black
*.color0:       #2d2d2d
*.color8:       #747369

! red
*.color1:       #f2777a
*.color9:       #f2777a

! green
*.color2:       #99cc99
*.color10:      #99cc99

! yellow
*.color3:       #ffcc66
*.color11:      #ffcc66

! blue
*.color4:       #6699cc
*.color12:      #6699cc

! magenta
*.color5:       #cc99cc
*.color13:      #cc99cc

! cyan
*.color6:       #66cccc
*.color14:      #66cccc

! white
*.color7:       #d3d0c8
*.color15:      #f2f0ec

!! URXVT
URxvt.font: xft:firamono:size=14
URxvt.depth: 32
URxvt.background: rgba:2d00/2d00/2d00/a500
URxvt.fading: 15
URxvt.fadeColor: rgba:2d00/2d00/2d00/0000
URxvt.colorUL: #66cccc
URxvt.letterSpace: -1
URxvt.lineSpace: 0
URxvt.scrollBar: false
URxvt.scrollBar_right: false
!! Navigation
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D
!! Functions
URxvt.perl-ext-common: default,resize-font,matcher,keyboard-select

URxvt.keysym.C-M-Up: resize-font:bigger
URxvt.keysym.C-M-Down: resize-font:smaller
URxvt.keysym.C-u: matcher:select
URxvt.keysym.M-u: matcher:last
URxvt.url-launcher: qutebrowser
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keyboard-select.clipboard: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
