/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		color: @critical;
	}
}

@keyframes blink-urgent {
    30% {
        background: @yellow;
        color: @black;
    }
}

/* Styles */

/* Colors (gruvbox) */
@define-color black	#282C34;
@define-color red	#E06C75;
@define-color green	#98C379;
@define-color yellow	#E5C078;
@define-color blue	#61AFEF;
@define-color purple	#C678DD;
@define-color aqua	#56B6C2;
@define-color gray	#3e4258;
@define-color brgray	#928374;
@define-color brred	#e4321d;
@define-color brgreen	#b8bb26;
@define-color bryellow	#ae7100;
@define-color brblue	#83a598;
@define-color brpurple	#d3869b;
@define-color braqua	#8ec07c;
@define-color white	#ABB2BF;
@define-color bg2	#504945;


@define-color warning 	@bryellow;
@define-color critical	@brred;
@define-color mode	@black;
@define-color unfocused	@black;
@define-color focused	#1a1d27;
@define-color hovered	@gray;
@define-color inactive	@purple;
@define-color sound	@aqua;
@define-color network	@red;
@define-color memory	@blue;
@define-color cpu	@blue;
@define-color backlight	@yellow;
@define-color temp	@brgreen;
@define-color layout	@purple;
@define-color battery	@green;
@define-color date	@black;
@define-color time	@white;
@define-color window @green;

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
}

/* The whole bar */
#waybar {
    background: transparent;
    /* #282828e0 */
    color: @white;
    font-family: Comic Code Ligatures Medium, ComicCode NerdFont;
    font-size: 14px;
}

/* Each module */
#backlight,
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#mpd,
#custom-mpd,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#sndio,
#pulseaudio,
#tray {
    padding-left: 4pt;
    padding-right: 6pt;
}
#window,
#custom-menu {
    padding-left: 6pt;
    padding-right: 4pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* And now modules themselves in their respective order */

/* Current sway mode (resize etc) */
#mode {
	color: @white;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
    letter-spacing: -2pt;
    min-width: 16pt;
	color: @white;
	background: @unfocused;
    padding: 0 2px 0 6px;
    color: @white;
    background: @unfocused;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @white;
	background: @inactive;
}

/* Active (on focused output) */
#workspaces button.active {
	color: @white;
	background: @focused;
    border-bottom: 1pt solid @green;
}

/* Contains an urgent window */
#workspaces button.urgent {
    animation-timing-function: ease-out;
    animation-name: blink-urgent;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

/* Style when cursor is on the button */
#workspaces button:hover {
    background: @hovered;
    color: @white;
    border-bottom: 3px solid @yellow;
}
#workspaces button.active:hover {
    background: @hovered;
    border-bottom: 3px solid @green;
}

#custom-menu {
    color: @black;
    background: @white;
    padding-left: 4pt;
    padding-right: 6pt;
}

#mpd, #custom-mpd {
    background: @mpd;
    color: @black;
}

#mpd.stopped {
    color: @bryellow;
}

#mpd.disconnected {
    color: @red;
}

#window {
    background: @window;
    color: @black;
}

#network {
	background: @network;
	color: @black;
}

#memory {
	background: @memory;
	color: @black;
}

#cpu {
	background: @cpu;
	color: @black;
}

#temperature {
	background: @temp;
	color: @black;
}

#backlight {
  background: @backlight;
  color: @black;
}

#pulseaudio {
  background: @sound;
  color: @black;
}

#language {
	background: @layout;
	color: @black;
}

#battery {
	background: @battery;
	color: @black;
}

#tray {
	background: @date;
}

#clock.date {
	background: @date;
	color: @white;
}

#clock.time {
	background: @time;
	color: @black;
}

tooltip {
    padding: 1em;
    background: rgba(40, 44, 52, 0.76);
    font-family: Hack Nerd Font;
    font-size: 16px;
}


#custom-arrow1,
#custom-arrow2,
#custom-arrow3,
#custom-arrow4,
#custom-arrow5,
#custom-arrow6,
#custom-arrow7,
#custom-arrow8,
#custom-arrow9,
#custom-arrow10,
#custom-arrow11,
#custom-arrow12 {
    font-size: 1.15em;
}

#custom-arrow1 {
	color: @network;
	background: transparent;
}

#custom-arrow2 {
	color: @memory;
	background: @network;
}

#custom-arrow3 {
	color: @cpu;
	background: @memory;
}

#custom-arrow4 {
	color: @backlight;
	background: @cpu;
}

#custom-arrow5 {
	color: @sound;
	background: @backlight;
}

#custom-arrow6 {
	color: @battery;
	background: @sound;
}

#custom-arrow7 {
	color: @layout;
	background: @battery;
}

#custom-arrow8 {
	color: @date;
	background: @layout;
}

#custom-arrow9 {
	color: @time;
	background: @date;
}

#custom-arrow11 {
	color: @unfocused;
	background: @window;
}

#custom-arrow12 {
	color: @window;
	background: transparent;
}
